---
layout: default
---

<!-- Row -->
<div class="row">
	<section class="centered-text">
		<h1>Dekko</h1>
		<img class="ubuntu-icon" style="background-image:url(/images/icon.png);" src="/images/ubuntu-shape.png">
			<h2>The Best Email App for Ubuntu</h2>
		<p>Dekko is an Ubuntu email client. It works with Gmail and Outlook email accounts or any custom IMAP server.</p>
		<br>
		<a class="button suggested" href="/download">Download</a>
		<a class="button" href="/about">Learn More</a>
	</section>
</div>

<hr class="short">

<!-- Row -->
<div class="row">
	<section>
		<!-- Column -->
		<div class="col third left">
			<img class="center" src="/images/screenshots/dekko-phone.png">
		</div>
		<!-- Column -->
		<div class="col two-thirds right">
			<h2>Unified Inbox</h2>
			<p>In Dekko you can view all your accounts inboxes as one merged inbox or view each one individually.</p>
		</div>
	</section>
</div>

<hr class="short">

<!-- Row -->
<div class="row">
	<section>
		<!-- Column -->
		<div class="col two-thirds left">
			<h2>Smart Folders</h2>
			<p>Keep your inbox organized with smart folders. Dekko makes it easy to find messages given criteria you choose.</p>
		</div>
		<!-- Column -->
		<div class="col third right">
			<img class="center" src="/images/screenshots/smart-folders.png">
		</div>
	</section>
</div>

<hr class="short">

<!-- Row -->
<div class="row">
	<section class="centered-text">
		<h2>Fits Any Device</h2>
		<p>Dekko is built for Ubuntu which means it looks great on any device.</p>
		<!-- Carousel -->
		<div id="convergenceCarousel" class="carousel slide" data-ride="carousel">
			<!-- Wrapper -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="center" src="/images/screenshots/dekko-large-ff.png">
				</div>
				<div class="item">
					<img class="center" src="/images/screenshots/dekko-medium-ff.png">
				</div>
				<div class="item">
					<img class="center" src="/images/screenshots/dekko-small-ff.png">
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#convergenceCarousel" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<a class="right carousel-control" href="#convergenceCarousel" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>  
		</div>
	</section>
</div>

{% include sponsors.html %}