<!-- Footer -->
<footer class="row">
	<a href="/privacy" alt="" title="Privacy">Privacy</a>
	<a href="{{ site.google-plus-community }}" alt="" title="Google+" class="right"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
	<a href="{{ site.twitter-account }}" alt="" title="Twitter" class="right"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="{{ site.telegram-group }}" target="_blank" alt="" title="Telegram" class="right"><i class="fa fa-telegram" aria-hidden="true"></i></a>
</footer>

<!--[if lt IE 9]>
	<div id="legacy-warning">
		<h1>This website is built on modern web technologies your browser doesn&rsquo;t support.</h1>

		<p>This version of Internet Explorer is out of date and may contain bugs or security vulnerabilities. Please <a href="http://browsehappy.com/">upgrade</a> to IE 11 or an alternative web browser.</p>

		<div id="legacy-warning-buttons">
			<a href="#" onClick="document.getElementById('legacy-warning').style.display = 'none';">Dismiss</a>

			<a class="suggested-action" href="http://browsehappy.com/" target="_blank">Learn More</a>
		</div>
	</div>
<![endif]-->
</body>
</html>