<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.description == * %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">

<base href="/">

<!-- Title -->
<title>{% if page.title == * %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}</title>
<meta name="apple-mobile-web-app-title" content="{% if page.title == * %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}">

<!-- Images -->
<link rel='shortcut icon' href='{{ site.favicon }}'>
<link rel="icon" type="image/png" href="{{ site.icon }}" sizes="1024x1024">
<link rel="apple-touch-icon" href="{{ site.icon }}">

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<!-- Fonts -->
<link rel="stylesheet" type="text/css" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700|Ubuntu+Mono:300,400,500" rel="stylesheet">

<!-- JavaScripts -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-3.3.4.modified.js"></script>

<!-- Google Analytics -->
<script>
	// Put Google Analytics code here
</script>

</head>

<noscript>
	<div class="infobar error no-js">JavaScript Has been disabled. 😞 Please consider re-enabling it for this site to experience it fully.</div>
</noscript>

<!-- Body -->
<body>
