<hr class="short">

<!-- Row -->
<div class="row">
	<section class="centered-text">
	<h2>Sponsors</h2>
	<!--<p>Dekko's development is kindly supported by these fine sponsors.</p>-->
	<p>If you would like to support the project and get your logo right here on the home page, please consider supporting us via our <a href="https://patreon.com/dekkoproject">Patreon campaign</a></p>
	<!--{% for sponsor in site.data.sponsors %}
		<div class="sponsor">
			<a href="{{ sponsor.website }}" target="_blank"><img class="center" src="/images/sponsors/{{ sponsor.name }}.png"></a>
		</div>
	{% endfor %}-->
	</section>
</div>
