---
layout: page
title: Blog
---

{% for post in paginator.posts %}
<article>
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<span class="small">Published on <span class="date">{{ post.date | date_to_string }}</span></span>
	{{ post.content | split:'<!-- break -->' | first }}
	{% if post.content contains '<!-- break -->' %}
		<a class="button smaller" href="{{ post.url }}"><span>Read more »</span></a>
	{% endif %}
</article>
{% endfor %}
