// Blog-Specific Text

.small {
	font-family: $monospace;
	text-transform: uppercase;
	font-size: 90%;
	color: lighten($fg_color, 40%);
	width: 100%;
	display: block;
	margin: 1em 0;
}

.date {color:$fg_color;}

// Tags

#tags {
	margin: 1em auto;
}

$tag_height: 14px;

.tag {
	background-color: darken($bg_color, 5%);
	border-radius:3px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(255,255,255,0.1);
	color: lighten($fg_color, 10%);
	display:inline-block;
	font-size: 90%;
	font-family: $monospace;
	height: $tag_height;
	line-height:$tag_height + 1px;
	margin:2px;
	opacity: 1.0;
	outline: none;
	padding:4px 6px;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px rgba(255,255,255,0.2);
	@include transition(0ms);

	&:focus,
	&:hover {
		height: $tag_height + 2px;
		top: -2px;
		margin-bottom: 0px;
		box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.2), inset 0 -2px 0 1px rgba(255,255,255,0.4);
		@include transition(0ms);
	}

	&:active {
		height: 14px;
		top:0;
		margin-bottom: 1px;
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
		@include transition(0ms);
	}
}

// Article
article {
	> h2:after {
		opacity: 0.6;
		content: " →"
	}

	> h2 > a:hover {
		padding-right: 0.25em;
	}

	> img {
		margin: 2em auto;
		border-radius: 4px;
	}
}