// Font Family
$font_family: "Muli", sans-serif;
$monospace: "Ubuntu Mono", monospace;

// Main colors
$bg_color: #fff;
$border_color: darken($bg_color,10%);
$base_color: #fff;
$fg_color: #333;


// Brand colors
$dekko_light_blue: #eaf2fe;
$dekko_blue: #9fb8f5;
$dekko_red: #ed5d6d;

// Link colors
$link_color: #5a85ee;
$link_focus_color: $fg_color;

// Selection
$selection_bg_color: $link_color;
$selection_fg_color: #fff;

// Nav
$nav_height:48px;
$nav_bg_color: darken($bg_color,2%);

// Buttons
$button_height: 36px;
$button_width: 128px;
$button_radius: 4px;

// Footer
$footer_bg_color: $nav_bg_color;
$footer_height: $nav_height;

// Shadows
$text_shadow: 0 1px rgba(255,255,255,0.8);

// Row Width
$row_width: 1000px;