// Sponsors

.sponsor {
	height: auto;
	min-width: 48%;
	display: inline-block;
	text-align: center;

	> span {
		width: 100%;
		font-size: 1.5em;
		font-weight:300;
	}

	> a > img,
	> img {
		max-height: 150px;
		border:none;
		margin: 2em auto;
	}
}

@media only screen and (max-width:848px) {.sponsor {margin: 0;width: 100%;}}