﻿/*
DESCRIPTION:Custom stylesheet for dekkoproject.org.
AUTHOR:Sam Hewitt
AUTHOR URI:http://samuelhewitt.com/
*/

// BEGINNING OF STYLESHEET

// Imports
@import 'common'; 
@import 'mixins'; 

// Text
%text {
	color:$fg_color;
	font-family: $font_family;
	font-weight: 400;
	font-size: 1em;
}

// Body
body {
	@extend %text;
	background-color:$bg_color;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	font-kerning: initial;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: inherit;
	image-rendering: optimizeQuality;
}

// Selections
::selection {
	background-color:$selection_bg_color;
	color:$selection_fg_color;
	text-shadow:none;
}

::-moz-selection {
	background-color:$selection_bg_color;
	color:$selection_fg_color;
	text-shadow:none;
}

::-webkit-selection {
	background-color:$selection_bg_color;
	color:$selection_fg_color;
	text-shadow:none;
}

p {
	@extend %text;
	line-height: 1.8em;
}

h1 {
	@extend %text;
	font-size: 3.5em;
	font-weight:200;
}

h2 {
	@extend %text;
	font-size: 2em;
	font-weight:300;
}

h3 {
	@extend %text;
	font-size: 1.5em;
	font-weight:400;
}

h4 {
	@extend %text;
	font-size: 1.10em;
	font-weight:600;
}

h5 {
	@extend %text;
	font-weight:600;
}


// Links
a {
	@extend %text;
	cursor:pointer;
	color:$link_color;
	outline: none;
	text-decoration: underline;
	@include transition(100ms);

	&:focus {
		color: $link_focus_color;
		@include transition(100ms);
	}

	&:hover,
	&:active {
		text-decoration: none;
		@include transition(100ms);
	}

	&:visited {
		opacity: 0.8;
	}
}

// Buttons
// these are just styled links

.button {
	background: linear-gradient(to bottom, darken($bg_color, 5%), darken($bg_color, 10%));
	border-radius: $button_radius;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	color: $fg_color;
	display: inline-block;
	font-weight: 700;
	height: $button_height;
	line-height: $button_height - 1px;
	margin: 4px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.4);
	width: $button_width;

	&:active {
		background: linear-gradient(to top, darken($bg_color, 5%), darken($bg_color, 10%));
	}

	&:focus {
		box-shadow: inset 0 0 0 1px $link_color, 0 0 1px 1px transparentize($link_color, 0.6);
	}

	&.suggested {
		background: linear-gradient(to bottom, lighten($link_color, 5%), $link_color);
		text-shadow: 0 1px darken($link_color, 10%);
		color: $base_color;

		&:active {
			background: linear-gradient(to top, lighten($link_color, 5%), $link_color);
		}
	}

	&.smaller {
		display: block;
		margin: 1em auto;
		font-size: 14px;
		height: $button_height - 8px;
		line-height: $button_height - 9px;
		width: $button_width - 16px;
		border-radius: ($button_height - 8px) / 2;
	}
}

// Columns 
.col {
	height: auto;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	img {
		max-height: 400px;
		margin:0 2em;
	}

	h1, h2, h3, h4, h5 {
		margin-top: 4em;
	}

	// Half width
	&.half {
		width: 48%;
	}

	// One-third width
	&.third {
		width: 30%;
		margin: 0 1%;
	}

	// Two-thirds width
	&.two-thirds {
		width: 66%;
		margin: 0 1%;
	}

	// Quarter width
	&.quarter {
		float: left;
		margin: 0 1%;
		width: 23%;
	}
}


// Code
code {
	font-family:$monospace;
}


// Preformatted
pre {
	background-color: darken($bg_color, 2%);
	border-radius:5px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(255,255,255,0.1);
	color: lighten($fg_color, 10%);
	overflow-x: scroll;
	padding:10px 16px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	word-break: break-all;

	&::-webkit-scrollbar {
		display: none; 
	}
}

// Form
form {
	max-width: 100%;
	display: block;
	margin: 0;
}

// Text Area
textarea {
	resize:vertical;
	box-shadow: none;
	display:block;
	background-color:$base_color;
	border:1px solid rgba(0,0,0,0.2);
	padding: 2px 4px;
	margin: 0.5em 0.25em;
	border-radius:0.25em;
	outline: none;
	width: 100%;
	max-width: 37em;
	&:focus {
		border:1px solid rgba(0,0,0,0.2);
		box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2);
	}
}

@media only screen and (max-width: 800px) {
	textarea {
		margin: 0.5em 0;
		width: 96%;
	}
}


// Fieldset

fieldset {
	border:0;
	margin:0;
	padding:0;
	width: 100%;
}

// Label

label {
	color:$fg_color;
	font-weight: bold;
	display: block;
	line-height: 2em;
}

// Input

input {
	box-shadow: none;
	padding:none;
	/*outline: none;*/
}

input[type=text] {
	color:$fg_color;
	background-color:$base_color;
	border:1px solid $border_color;
	padding: 2px 4px;
	margin: 0.5em 0.25em;
	height:2em;
	width:18em;
	border-radius:0.25em;
	box-shadow: none;

	&:focus {
		outline: none;
		border:1px solid $link_color;
		box-shadow:inset 0 1px 1px 0 rgba(0,0,0,0.2);
	}
}

@media only screen and (max-width: 600px) {
	input[type=text] {
		margin: 0.5em 0;
		width: 96%;
	}
}

// Placeholder text in input fields 
input[type=text]::-webkit-input-placeholder {
	color: lighten($fg_color, 50%);
}
input[type=text]:-moz-placeholder {
	color: lighten($fg_color, 50%);
}
input[type=text]::-moz-placeholder {
	color: lighten($fg_color, 50%);
}
input[type=text]:-ms-input-placeholder {
	color: lighten($fg_color, 50%);
}

// Lists
ul, ol {
	line-height: 1.7em;
	padding: 0;
	color: inherit;
	margin:0 2.25em;

	> li {
		padding-left: 0.25em;
	}
}


// Horizontal Line
hr {
	display:block;
	border:none;
	width: 100%;
	height:1px;
	margin: 46px auto 45px auto;
	border-bottom: 1px solid $border_color;

	&.short {
		width: 10%;
	}

	&.page-break {
		width: 0;
		border: none;
	}
}

// Images
img {
	vertical-align:middle;
	border: none;
	display: block;
	max-width: 90%;
	border: 1px solid $border_color;

	// Centered
	&.center {
		margin:4em auto;
	}
}

// Ubuntu Icon
.ubuntu-icon {
	border:none;
	display: block;
	margin: 4em auto;
	background: center no-repeat;
	background-size: 100%;
}

// Positions & Alignments
.center {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right:auto;
}

.centered-text {
	text-align: center;
}

.left {
	float: left;
}

.right-align-text {
	text-align: right;
}

.right {
	float: right;
}


// Rows
%row,
.row {
	display: table;
	position: relative;
	margin: 0 auto;
	width: $row_width;
	&.bordered {
		border-top: 1px solid $border_color;
	}
}

// Section
section {
	margin: 4em auto;
	padding: 0 0.5em;
}

// Nav
nav {
	background-color: $nav_bg_color;
	height: $nav_height;
	border-bottom: 1px solid $border_color;
	width: 100%;
	padding:0 calc((100% - #{$row_width}) / 2);

	> a,
	> span {
		@extend %text;
		padding: 0 12px;
		color:$fg_color;
		line-height: $nav_height - 1px;
		text-decoration: none;
		&.title {
			font-weight: 700;
		}
	}

	> a {
		&:focus,
		&:hover {
			color: $link_color;
		}
		&:focus{
			text-decoration: underline;
		}
	}
}


// Footer
footer {
	border-top: 1px solid $border_color;
	height: $footer_height;
	width: 100%;
	padding:0 calc((100% - #{$row_width}) / 2);
	padding-bottom: $footer_height * 2;

	> a,
	> span {
		@extend %text;
		padding: 0 12px;
		color:$fg_color;
		line-height: $nav_height - 1px;
		text-decoration: none;
	}

	> a {
		&:hover {
			color: $link_color;
		}
	}
}

// Blog Styles
@import 'blog'; 

// Carousel Styles
@import 'carousel'; 

// Sponsor Styles
@import 'sponsors'; 

// MEDIA QUERIES
@media only screen and (max-width:1024px) {

	// Columns 
	.col {

		&.half,
		&.third,
		&.two-thirds,
		&.quarter {
			margin: 0;
			width: 100%;
		}

		h1, h2, h3, h4, h5 {
			margin-top: 0;
		}
	}
	footer, nav {
		padding: 0;
	}
	section {
		padding: 0 1.5em;
	}

	// Row
	%row,.row{width:100%;}
}
// END OF STYLESHEET