@charset "UTF-8";
/*
DESCRIPTION:Custom stylesheet for dekkoproject.org.
AUTHOR:Sam Hewitt
AUTHOR URI:http://samuelhewitt.com/
*/
body, p, h1, h2, h3, h4, h5, a, nav > a,
nav > span, footer > a,
footer > span {
  color: #333;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 1em; }

body {
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-kerning: initial;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: inherit;
  image-rendering: optimizeQuality; }

::selection {
  background-color: #5a85ee;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background-color: #5a85ee;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background-color: #5a85ee;
  color: #fff;
  text-shadow: none; }

p {
  line-height: 1.8em; }

h1 {
  font-size: 3.5em;
  font-weight: 200; }

h2 {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 400; }

h4 {
  font-size: 1.10em;
  font-weight: 600; }

h5 {
  font-weight: 600; }

a {
  cursor: pointer;
  color: #5a85ee;
  outline: none;
  text-decoration: underline;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
  a:focus {
    color: #333;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
  a:hover, a:active {
    text-decoration: none;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }
  a:visited {
    opacity: 0.8; }

.button {
  background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  color: #333;
  display: inline-block;
  font-weight: 700;
  height: 36px;
  line-height: 35px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  width: 128px; }
  .button:active {
    background: linear-gradient(to top, #f2f2f2, #e6e6e6); }
  .button:focus {
    box-shadow: inset 0 0 0 1px #5a85ee, 0 0 1px 1px rgba(90, 133, 238, 0.4); }
  .button.suggested {
    background: linear-gradient(to bottom, #7196f0, #5a85ee);
    text-shadow: 0 1px #2c63e9;
    color: #fff; }
    .button.suggested:active {
      background: linear-gradient(to top, #7196f0, #5a85ee); }
  .button.smaller {
    display: block;
    margin: 1em auto;
    font-size: 14px;
    height: 28px;
    line-height: 27px;
    width: 112px;
    border-radius: 14px; }

.col {
  height: auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .col img {
    max-height: 400px;
    margin: 0 2em; }
  .col h1, .col h2, .col h3, .col h4, .col h5 {
    margin-top: 4em; }
  .col.half {
    width: 48%; }
  .col.third {
    width: 30%;
    margin: 0 1%; }
  .col.two-thirds {
    width: 66%;
    margin: 0 1%; }
  .col.quarter {
    float: left;
    margin: 0 1%;
    width: 23%; }

code {
  font-family: "Ubuntu Mono", monospace; }

pre {
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #4d4d4d;
  overflow-x: scroll;
  padding: 10px 16px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }
  pre::-webkit-scrollbar {
    display: none; }

form {
  max-width: 100%;
  display: block;
  margin: 0; }

textarea {
  resize: vertical;
  box-shadow: none;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px;
  margin: 0.5em 0.25em;
  border-radius: 0.25em;
  outline: none;
  width: 100%;
  max-width: 37em; }
  textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 800px) {
  textarea {
    margin: 0.5em 0;
    width: 96%; } }
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%; }

label {
  color: #333;
  font-weight: bold;
  display: block;
  line-height: 2em; }

input {
  box-shadow: none;
  padding: none;
  /*outline: none;*/ }

input[type=text] {
  color: #333;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 2px 4px;
  margin: 0.5em 0.25em;
  height: 2em;
  width: 18em;
  border-radius: 0.25em;
  box-shadow: none; }
  input[type=text]:focus {
    outline: none;
    border: 1px solid #5a85ee;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2); }

@media only screen and (max-width: 600px) {
  input[type=text] {
    margin: 0.5em 0;
    width: 96%; } }
input[type=text]::-webkit-input-placeholder {
  color: #b3b3b3; }

input[type=text]:-moz-placeholder {
  color: #b3b3b3; }

input[type=text]::-moz-placeholder {
  color: #b3b3b3; }

input[type=text]:-ms-input-placeholder {
  color: #b3b3b3; }

ul, ol {
  line-height: 1.7em;
  padding: 0;
  color: inherit;
  margin: 0 2.25em; }
  ul > li, ol > li {
    padding-left: 0.25em; }

hr {
  display: block;
  border: none;
  width: 100%;
  height: 1px;
  margin: 46px auto 45px auto;
  border-bottom: 1px solid #e6e6e6; }
  hr.short {
    width: 10%; }
  hr.page-break {
    width: 0;
    border: none; }

img {
  vertical-align: middle;
  border: none;
  display: block;
  max-width: 90%;
  border: 1px solid #e6e6e6; }
  img.center {
    margin: 4em auto; }

.ubuntu-icon {
  border: none;
  display: block;
  margin: 4em auto;
  background: center no-repeat;
  background-size: 100%; }

.center {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

.centered-text {
  text-align: center; }

.left {
  float: left; }

.right-align-text {
  text-align: right; }

.right {
  float: right; }

.row {
  display: table;
  position: relative;
  margin: 0 auto;
  width: 1000px; }
  .row.bordered {
    border-top: 1px solid #e6e6e6; }

section {
  margin: 4em auto;
  padding: 0 0.5em; }

nav {
  background-color: #fafafa;
  height: 48px;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  padding: 0 calc((100% - 1000px) / 2); }
  nav > a,
  nav > span {
    padding: 0 12px;
    color: #333;
    line-height: 47px;
    text-decoration: none; }
    nav > a.title,
    nav > span.title {
      font-weight: 700; }
  nav > a:focus, nav > a:hover {
    color: #5a85ee; }
  nav > a:focus {
    text-decoration: underline; }

footer {
  border-top: 1px solid #e6e6e6;
  height: 48px;
  width: 100%;
  padding: 0 calc((100% - 1000px) / 2);
  padding-bottom: 96px; }
  footer > a,
  footer > span {
    padding: 0 12px;
    color: #333;
    line-height: 47px;
    text-decoration: none; }
  footer > a:hover {
    color: #5a85ee; }

.small {
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
  font-size: 90%;
  color: #999999;
  width: 100%;
  display: block;
  margin: 1em 0; }

.date {
  color: #333; }

#tags {
  margin: 1em auto; }

.tag {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  color: #4d4d4d;
  display: inline-block;
  font-size: 90%;
  font-family: "Ubuntu Mono", monospace;
  height: 14px;
  line-height: 15px;
  margin: 2px;
  opacity: 1.0;
  outline: none;
  padding: 4px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0ms ease-out;
  -moz-transition: all 0ms ease-out;
  -ms-transition: all 0ms ease-out;
  -o-transition: all 0ms ease-out;
  transition: all 0ms ease-out; }
  .tag:focus, .tag:hover {
    height: 16px;
    top: -2px;
    margin-bottom: 0px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2), inset 0 -2px 0 1px rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0ms ease-out;
    -moz-transition: all 0ms ease-out;
    -ms-transition: all 0ms ease-out;
    -o-transition: all 0ms ease-out;
    transition: all 0ms ease-out; }
  .tag:active {
    height: 14px;
    top: 0;
    margin-bottom: 1px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0ms ease-out;
    -moz-transition: all 0ms ease-out;
    -ms-transition: all 0ms ease-out;
    -o-transition: all 0ms ease-out;
    transition: all 0ms ease-out; }

article > h2:after {
  opacity: 0.6;
  content: " →"; }
article > h2 > a:hover {
  padding-right: 0.25em; }
article > img {
  margin: 2em auto;
  border-radius: 4px; }

.carousel {
  width: 100%;
  height: auto;
  margin: 4em auto;
  position: relative; }
  .carousel .carousel-inner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out; }
    .carousel .carousel-inner > .item {
      width: 90%;
      margin: 0 5%;
      position: relative;
      display: none;
      -webkit-transition: all 400ms ease-out;
      -moz-transition: all 400ms ease-out;
      -ms-transition: all 400ms ease-out;
      -o-transition: all 400ms ease-out;
      transition: all 400ms ease-out; }
      .carousel .carousel-inner > .item > img,
      .carousel .carousel-inner > .item > a > img {
        max-height: 400px;
        margin: 0 auto;
        display: block; }
      .carousel .carousel-inner > .item.active, .carousel .carousel-inner > .item.next, .carousel .carousel-inner > .item.prev {
        display: block; }
      .carousel .carousel-inner > .item.active {
        left: 0; }
        .carousel .carousel-inner > .item.active.left {
          left: -100%; }
        .carousel .carousel-inner > .item.active.right {
          left: 100%; }
      .carousel .carousel-inner > .item.next {
        position: absolute;
        left: 100%; }
        .carousel .carousel-inner > .item.next.left {
          left: 0; }
      .carousel .carousel-inner > .item.prev {
        position: absolute;
        left: -100%; }
        .carousel .carousel-inner > .item.prev.right {
          left: 0; }
  .carousel .carousel-control {
    position: absolute;
    top: 50%;
    opacity: 0.6;
    display: inline-block;
    padding: 0.5em;
    border-radius: 8px; }
    .carousel .carousel-control > svg {
      fill: #333; }
    .carousel .carousel-control:focus, .carousel .carousel-control:active {
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .carousel .carousel-control:focus > svg, .carousel .carousel-control:active > svg {
        fill: black; }
    .carousel .carousel-control:hover {
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .carousel .carousel-control:hover > svg {
        fill: #5a85ee; }
    .carousel .carousel-control.left {
      right: auto;
      left: calc(32px * -1);
      float: left; }
    .carousel .carousel-control.right {
      left: auto;
      right: calc(32px * -1);
      float: right; }

@media only screen and (max-width: 848px) {
  .carousel {
    width: 90%; } }
.sponsor {
  height: auto;
  min-width: 48%;
  display: inline-block;
  text-align: center; }
  .sponsor > span {
    width: 100%;
    font-size: 1.5em;
    font-weight: 300; }
  .sponsor > a > img,
  .sponsor > img {
    max-height: 150px;
    border: none;
    margin: 2em auto; }

@media only screen and (max-width: 848px) {
  .sponsor {
    margin: 0;
    width: 100%; } }
@media only screen and (max-width: 1024px) {
  .col.half, .col.third, .col.two-thirds, .col.quarter {
    margin: 0;
    width: 100%; }
  .col h1, .col h2, .col h3, .col h4, .col h5 {
    margin-top: 0; }

  footer, nav {
    padding: 0; }

  section {
    padding: 0 1.5em; }

  .row {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
