{% include header.html %}
	
<!-- Nav -->
<nav class="row">
	<span class="title">{{ site.title }}</span>
	<a class="right" href="/about" alt="" title="About">About</a>
	<a class="right" href="/forum" alt="" title="Forum">Forum</a>
	<a class="right" href="/donate" alt="" title="Donate">Donate</a>
	<a class="right" href="/blog" alt="" title="Blog">Blog</a>
	<a class="right" href="/get-involved" alt="" title="Get Involved">Get Involved</a>
</nav>

	{{ content }}

{% include footer.html %}