{% include header.html %}
	
<!-- Nav -->
<nav class="row">
	<a class="title" href="/">{{ site.title }}</a>
	<a class="right" href="/about" alt="" title="About">About</a>
	<a class="right" href="/forum" alt="" title="Forum">Forum</a>
	<a class="right" href="/donate" alt="" title="Donate">Donate</a>
	<a class="right" href="/blog" alt="" title="Blog">Blog</a>
	<a class="right" href="/get-involved" alt="" title="Get Involved">Get Involved</a>
</nav>

<!-- Row -->
<div class="row">
	<section>

	{{ content }}

	</section>
</div>

{% include footer.html %}