{% include header.html %}

<!-- Nav -->
<nav class="row">
	<a class="title" href="/">{{ site.title }}</a>
	<a class="right" href="/about" alt="" title="About">About</a>
	<a class="right" href="/forum" alt="" title="Forum">Forum</a>
	<a class="right" href="/donate" alt="" title="Donate">Donate</a>
	<a class="right" href="/blog" alt="" title="Blog">Blog</a>
	<a class="right" href="/get-involved" alt="" title="Get Involved">Get Involved</a>
</nav>

<!-- Row -->
<article class="row">
	<!-- Post -->
	<section>
		<!-- Title -->
		<h2>{{ page.title }}</h2>
		<!-- Date -->
		<span class="small">Published on <span class="date">{{ page.date | date_to_string }}</span></span>
		<!-- Tags -->
		<div id="tags">
		{% for tag in page.tags %}
			<a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
		{% endfor %}
		</div>
		<!-- Content -->
		{{ content }}
	</section>
</article>


{% include footer.html %}
