---
layout: default
stylesheet: "blog.css"
---

<!-- Row -->
<div class="row">
    <section class="posts">
    {% for post in site.posts %}
    {% for tag in post.tags %}
    {% if tag == page.tag %}
    <div class="post">
        <article>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <span class="small">Published on <span class="date">{{ post.date | date_to_string }}</span></span>
        </article>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </section>
</div>